{% extends "authentication/base.html" %}

{% block content%}
<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-5 text-center">UserAuthentication in Django</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-10 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="h2 fw-bolder">Register/Login/Logout</div>
                            <p>A step by step guide to creating and authenticating a user in django.</p>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}