{% extends "authentication/base.html" %}

{% block content%}
{% load socialaccount %}

   

<div class="card h-100 shadow border-0 mt-4 mb-5 me-auto mx-auto w-50">
    <h3 class="form-title px-3 py-3 text-center">Log In</h3>
    <form method="post" action="/login/" class="mb-2">
        {% csrf_token %}
        <div class="form-group px-3 py-2">
            <label for="username" class="py-2">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user h-6"></i></span>
                </div>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
        </div>
        <div class="form-group px-3 py-2">
            <label for="pass1" class="py-2">Password</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Password" required>
            </div>
        </div>
        <div class="input-group-append">
            <div class="input-group-text bg-transparent border-0">
                <input type="checkbox" id="showPassword">
                <label for="showPassword" class="form-check-label ms-2">Show Password</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3 mx-5">Log In</button>
    </form>
    <hr class="my-2 mx-5">

    <div class="row mx-auto">
        <div class="col">
            <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-block my-2">
                <i class="fab fa-google mx-auto"></i> Log In with Google
            </a>
        </div>
        <div class="col">
            <a href="{% provider_login_url 'facebook' %}" class="btn btn-primary btn-block my-2">
                <i class="fab fa-facebook mx-auto"></i> Log In with Facebook
            </a>
        </div>
    </div>
    <hr class="my-2 mx-5">
        <p class="text-center">Need to register? <a href="{% url 'register'%}">Register</a></p>
    </div>
</div>

{% endblock content %}